
.header{
    height: 100px;
    background-color: #3A5795;
    margin-left: -3px;
    margin-right: -3px;
    margin-top: -3px;
  }

  .facebook{
    margin-left: 50px;
    font-size: 42px;
    font-family: comic sans MS;
    color: white;
    font-weight: bold;
    position: relative;
    scroll-margin-left: 210px;
    top: 25px;
  }

  .T1{
    margin-right: 50px; 
    position: relative;
    float: right;
    top: -50px;
    color: white;
  }

  .c1:hover{
    color: wheat;
    cursor: pointer;
  }

  